BasedOnStyle: Mozilla
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  BeforeElse: true
  BeforeCatch: true
  BeforeLambdaBody: true
IndentCaseLabels: false
IndentCaseBlocks: true
NamespaceIndentation: None
BreakAfterReturnType: Automatic
